.navbar-custom {
    background-color: #0e0e3e;
    color: #ffffff;
}
.navbar-custom a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li {
    background-color: #181868;
}
.navbar-custom .navbar-nav > li+li {
    border-top: 1px solid #0e0e3e;
}
@media (min-width: 768px) {
    .navbar-custom .navbar-nav > li+li {
        border-left: 2px solid #0e0e3e;
        border-top: 0px solid #0e0e3e;
    }
    .navbar-custom .navbar-header> h3 {
        display: none;
    }
}
.navbar-custom .navbar-nav > .active > a {
    background-color: #4169e1;
    -webkit-box-shadow: inset 0 3px 9px #181868;
    box-shadow: inset 0 3px 9px #181868;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus{
    background-color: #4169e1;
    -webkit-box-shadow: inset 0 0px 0px #4169e1;
    box-shadow: inset 0 0px 0px #4169e1;
}
.navbar-custom .navbar-toggle {
    background-color: #181868;
    border-color: #000000;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #4169e1;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom .dropdown-menu > li{
    background-color: #ffffff;
}
.navbar-custom .dropdown-menu > li+li{
    border-top: 1px solid #d3d3d3;
}

#footer {
    padding: 30px;
}
#footer > .list-inline > li {
    vertical-align: middle;
}

.profile {
    width: 100%;
}
.profile > img {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
@media (min-width: 550px) {
    .profile > h1.collapse {
        display: block !important;
    }
    .profile > h2 {
        display: none;
    }
}
.profile > h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1;
    padding-right: 10px;
}
.profile > h2 {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.email, .facebook, .skype, .linkedin, .github {
    width: 48px;
    height: 48px;
    display: block;
}

.email {
    background-image: url('/app/images/email.png');
}
.email:hover {
    background-image: url('/app/images/email-gray.png');
}

.facebook {
    background-image: url('/app/images/facebook.png');
}
.facebook:hover {
    background-image: url('/app/images/facebook-gray.png');
}

.skype {
    background-image: url('/app/images/skype.png');
}
.skype:hover {
    background-image: url('/app/images/skype-gray.png');
}

.linkedin {
    background-image: url('/app/images/linkedin.png');
}
.linkedin:hover {
    background-image: url('/app/images/linkedin-gray.png');
}

.github {
    background-image: url('/app/images/github.png');
}
.github:hover {
    background-image: url('/app/images/github-gray.png');
}
